* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    height:100%;
}
body{
    align-items: center;
    background: linear-gradient(120deg, rgba(194, 173, 173, 0), rgb(97, 180, 169), rgb(89, 40, 167));
    display: flex;
    height: inherit;
    justify-content: center;
}
.calculator{
    backdrop-filter: blue(50px);
    background: rgba(255,255,255, 0.25);
    border: 1px solid rgb(136, 129, 129);
    border-radius: 15px;
    box-shadow: 0 4px 4px rgb(78, 76, 76);
    color: black;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 30px;
}
.screen{
    background-color: rgba(224, 214, 214, .7);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 15px;
    text-align: right;
    font-size: 2.5rem;
    overflow: hidden;
    border-radius: 15px;
    width: 375px;
    height: 80px;
}
.row{
    display:flex;
    justify-content: space-between;
    margin: 5% 0;
}
button{
    font-size: 25px;
    height: 65px;
    background-color:  rgba(224, 214, 214, .7);
    border: 1px solid rgba(255, 255, 255, .1);
    flex-basis: 20%;
    border-radius: 15px;
}
button:last-child{
    background-color:darkorange;
    color:antiquewhite;
}
button:last-child:hover{
    background-color:fuchsia;
    color: white;
}
button:hover{
    background-color:grey;
    color: white;
}
button:active,button:last-child:active{
    background-color: aqua;
    color: black;
}
.calc-double{
    flex-basis:48%;
}